@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 18px;
}



@media screen and (max-width:414px){
  body{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
  }
  .container{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
.modals{

  width:375px;
  padding: 20px;
  border-radius:10px;
  background-color:black;
  position: fixed;
  z-index: 1;
  top:-1000px;
}

.modals.active{
  top: 60px;
  transition: .5s ease-in-out;
}
.modals-heading{
  color:white;
  margin-bottom: 20px;
  text-align: center;
}
.btn{
  width: 72px;
  height: 72px;
  border-radius:50%;
  font-size: 34px;
  color:white;
  background-color: #2CB932;
  ;
  position: fixed;
  top:590px;
  bottom:0;
  border:none;
  left: 154px;

}
.mb-25{
  margin-bottom: 15px;
}
input, textarea, select{
  width: 100%;
  padding: 10px 10px;
  border:1px solid blue;
  border-radius:15px;
}
.btn-save{
  background-color:#2CB932;
  color:white;
  border:none;
  border-radius:15px;
  padding: 12px 18px;
  width:100%;
  font-size: 20px;

}
.warn{
  background-color:#9FE3E8;
}
.danger{
  background: #F4A4A9;
}
.app-card{
  margin-bottom: 20px;
  border-radius:12px;
  padding: 14px;
}